body {
    background-color: antiquewhite;
    padding: 20px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    background-color:black;
    width:100vw;
    padding-top:20px;
    text-align:center;
    color:antiquewhite;
}

.webpage-header {
    font-size: 72px;
}

img {
    height: 200px;
    width: auto;
}
